{% extends 'base.html' %}

{% block css %}
    <style type='text/css'>
        p{
            background-color:white;
            width:495px;
            padding-left:5px;
            
        }
        b{
            padding-bottom:2px;
        }
        
        .top{
            font-size: 35px;
            font-style: bold;
            border-bottom: 2px solid gray;
            margin-bottom:15px;
        }
        img{
            float:left;
        }
        
        .info{
            background-color: AliceBlue;
            height:auto;
            width:500px;
            left:450px;
            position:absolute;
            border:3px solid gray;
            border-radius: 25px;
        }
        
        .name{
            background-color: AliceBlue;
            padding-bottom:5px;
            padding-top:5px;
            border-bottom:1px solid gray;
            margin-bottom:0px;
        }
        
        .date{
            background-color:white;
            padding-top:10px;
            padding-bottom:10px;
            border-bottom:1px solid gray;
            margin-top:0px;
            margin-bottom:0px;
        }
        .addInfo{
            background-color: AliceBlue;
        }
        .genInfo{
            margin-top:0px;
            margin-bottom:0px;
            border-bottom:1px solid gray;
        }
        
    </style>
{% endblock %}

{% block main %}   
    <div class="top">Profile</div>
    
    <img src="{{url_for('static', filename='clay.png')}}" width="400" height="400">
    
    <div class="info">
        <p class="name">{{ name }}</p>
        <p class="date">{{ date }}</p>
        <p class = genInfo><b>Username: </b>{{ usrName }}<br><b>ID Number: </b>{{ id }}<br><b>Age: </b>{{ age }}<br><b>Gender: </b>{{ gender }}<br></p>
        <p class="addInfo">{{ addInfo }}</p>
    </div>
{% endblock %}